<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://learningfirstcosmosdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="K5vztOXv8nqhBxzd6dotbPSbdxTuirzip6S2lsyPfQ2MnyBEyWm0CYBSzHM2AHFDhtiPqmXddRgxtENv3HuRQg==" />
  </appSettings>
</configuration>